K 8
passtype
V 6
simple
K 15
svn:realmstring
V 66
<https://svn.opentechstrategies.com:443> Open Tech Strategies, LLC
K 8
username
V ${OTS_SVN_USERNAME_LENGTH}
${OTS_SVN_USERNAME}
K 8
password
V ${OTS_SVN_PASSWORD_LENGTH}
${OTS_SVN_PASSWORD}
END
