[Unit]
Description=The SimpleBook API
After=network.target

[Service]
User=vagrant
Group=www-data
WorkingDirectory=/home/vagrant/SimpleBook/services/api
ExecStart=pipenv run gunicorn --reload --bind 0.0.0.0:3333 wsgi:app
StandardOutput=append:/var/log/simplebook.output.log
StandardError=append:/var/log/simplebook.error.log

[Install]
WantedBy=multi-user.target
